* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background:#124679;
    height:100px;
    width:fit-content;
    position:fixed;
    padding-bottom: 10px gray;
    display:inline;
}